body {
	font-family: 'Inconsolata', Helvetica, sans-serif;
	background-color: rgb(250, 250, 250);
	font-size: 18px;
	margin: 0;
}

#root {
	margin: 20px auto;
	max-width: 900px;
}

/*
#head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
*/

h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 20px 0px 10px 0px;
}

a, a:visited {
	color: unset;
}

li{
	margin: 10px 0px 10px 0px;
}

li > li {
	margin: 5px 0px 10px 0px;
}

.section {
	margin: 0px 20px 20px 20px;
}
